body{
    background-image: url(jopopo.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
    color: whitesmoke;
}
.navbar-menu{
    padding:1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-dark{
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-dark a{
    color: aqua;
    letter-spacing: 1.2px;
}
.navbar-menu:first-child{
    margin-right: auto;
    margin-left: 2rem;
}